h1 {
  font-size: xx-large;
  color: black;
  font-weight: bolder;
  text-align: center;
}
/* Reminder on centering came from: https://www.w3schools.com/css/css_align.asp */

h2 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: large;
  font-weight: bold;
}

body {
  background-color: bisque;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-top: 2px;
  margin-bottom: 2px;
}


html *{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}