html *{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 960px;
}

h1 {
  font-size: xx-large;
  color: black;
  font-weight: bolder;
  text-align: center;
}
/* Reminder on centering came from: https://www.w3schools.com/css/css_align.asp */

h2 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: large;
  font-weight: bold;
  margin-top: 30px;
}

#tvheader {
  text-align: center;
}

body {
  background-color: bisque;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-top: 2px;
  margin-bottom: 2px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.TopTenTVList {
  margin-top: 30px;
  max-width: 600px;
  padding-top: 1px;
}

.verbalBio {
  background-color: lightblue;
  box-shadow: 0px 0px 12px 3px lightsteelblue;
  padding: 8px 10px 10px 10px;
  margin-top: 25px;
}

img {
  max-width: 550px;
}

li {
  border-style: none;
  border-color: none;
  border-width: 1px;
  margin: 3px 3px 3px 3px;
}

footer {
  margin: auto;
  background-color: royalblue;
  margin-top: 500px;
  text-align: center;
}

.TVListInsert {
  float:right;
  max-width: 300px;
  margin-top: 70px;
}

#TVPictureArea {
  float: left;
  height: 400px;
  width: 600px;
  background-color: saddlebrown;
  background-image: url(../img/sven-scheuermeier-XCBW03rNaNQ-unsplash.jpg);
  /* Image source: <span>Photo by <a href="https://unsplash.com/@sveninho?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sven Scheuermeier</a> on <a href="https://unsplash.com/s/photos/television-set?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>   */
  background-repeat: no-repeat;
  background-size: 600px;
}
/* I tried to use these two resources to figure out this background image:
https://developer.mozilla.org/en-US/docs/Web/CSS/background-image
https://www.w3schools.com/cssref/pr_background-image.asp  
This is the source that finally helped get me there!
https://www.w3schools.com/cssref/css3_pr_background-size.asp  */